.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    align-items: center;
    border-bottom:3px solid #f6f6f6;
}

.sidebarChat:hover{
    background-color: #E8EDFD;
}
.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebarChat__info > p{
    color: gray;
}
.sidebarChat__info{
    flex: 1;
    margin-left: 15px;
}
.no_of_members{
    display: flex;
}
.no_of_members > h6{
    padding: 5px;
    
}
.container{
    position: fixed;
    right: 0;
    bottom: 0;

}
/*.container{
    display: flex;
    flex-direction: column;
    flex: 0.30;
    cursor: pointer;
    align-items: flex-end;
    width:99%;
    height: 30px;
}*/